<!--
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="Home.html">Brand</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" id="form">
  <form>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" [(ngModel)]= "this.firstName"  name = "angFName" id="firstName" placeholder="First name">
    </div>
    <div class="form-group">
      <label for="secondName">Second name</label>
      <input type="text" class="form-control" [(ngModel)]= "this.secondName" name = "angSName" id="secondName" placeholder="Second name">
    </div>
    <div class="form-group">
      <label for="email">email address</label>
      <input type="email" class="form-control" [(ngModel)]= "this.email" name = "angEmail" id="email" placeholder="email">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control"  [(ngModel)]= "this.Password" name = "angPass" id="Password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Password</label>
      <input type="password" class="form-control"  id="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Do you you want to receive updates and reminders?
      </label>
    </div>
    <div id="register">
      <button type="submit" class="btn" (click)="registerUser()">Register</button>
    </div>
  </form>
</div>
-->

<body>
<nav class="navbar navbar-default">
  <div class="container" >

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" href="Home.html" routerLink="/home">Code & Work</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/catalogueOut">Catalogue</a></li>
        <!-- <li><a href="#"></a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <i class="fas fa-user-plus"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/companyRegistration">As Company</a></li>
            <li><a routerLink="/registration">As User</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <i class="fas fa-user"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/companyLogin">As Company</a></li>
            <li><a routerLink="/login">As User</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div ng-app="codeWork" ng-controller="registration" class="container form" >
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="FirstName" name = "1" type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="secondName">Second Name</label>
      <input [(ngModel)]="SecondName" name = "2" type="text" class="form-control" id="secondName" placeholder="Second Name">
    </div>
    <div class="form-group">
      <label for="Email">Email address</label>
      <input [(ngModel)]="Email" name = "3" type="email" class="form-control" id="Email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input [(ngModel)]="Password" name = "4" type="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Password</label>
      <input [(ngModel)]="ConfirmPassword" name = "5" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="checkbox">
      <label>
        <input [(ngModel)]="Updates" name = "6" type="checkbox"> Do you you want to recive updates and reminders?
      </label>
    </div>
    <div id="register">
      <button type="submit" class="btn newAccount" id="register" (click)="registerUser()"><!--<a routerLink="/login">Create an account</a>-->
        Create an account</button>
    </div>
  </form>
</div>
</body>



