
<body id="user">
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" routerLink="/user-page">Code & Work</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/user-page" >Profile</a></li>
            <li><a routerLink="/user-courses" >My courses</a></li>
            <li><a routerLink="/user-notification">My notifications</a></li>
            <li><a routerLink="/edit-user" >Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="this.signOut.SignOut()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- СПИСОК ЗАДАНИЙ -->

<div class="sidebar">
  <div class="sidebarHeader">
    <a>{{course.name}}</a>
    <div class="sidebarProgressWrap">
      <p>Course progress</p>
      <span class="progressBar"></span>
    </div>
  </div>
  <div class="sidebarContent">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li>
        <li *ngFor="let task of tasks" >
        <button type="submit" class="btn newAccount" id="register" (click)="this.StartTask(task)">{{task.name}}</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- КОНЕЦ СПИСКА ЗАДАНИЙ -->

<div class="taskWrapper">
  <div class="top-tools">
    <div class="taskNumber">Task</div>
  </div>
  <div class="taskPlayer">
    <div class="taskPlayerHead">
      <p>{{this.currentTask.info}}</p>
    </div>
  </div>
  <div ace-editor [(text)]="textCompile" style="min-height: 200px; width:100%; overflow: auto;"
       [mode]="'javascript'">
  </div>
  <button (click)="compile(this.textCompile)">Compile</button>
</div>
</body>






