<body id="user">
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brand" routerLink="/home">Code & Work</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  routerLink="/company-page">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="this.signOut.SignOut()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="userInfo container">
    <span class="userLogo">
      <!-- тут ngModel -->
      <p class="userInitials">US</p>
    </span>
  <hr class="myHr">
</div>
<div class="container">
    <span class="menuItem">
      <ul class="list-group">
        <a  routerLink="/company-page">
          <li class="list-group-item">
            Profile
          </li>
        </a>
        <a  routerLink="/add-course">
          <li class="list-group-item">
            Add new Course
          </li>
        </a>
      </ul>
    </span>

  <table class="table table-striped coursesItem">
    <ul >
      <li *ngFor="let course of courses">
        <!-- <a (click)="courseSelect(task.id)">{{task.name}} </a>-->
        <button class="btn newAccount" (click)="selectCourse(course.id)">Редактировать курс - {{course.name}}</button>
      </li>
    </ul>
  </table>
  <table class="table table-striped coursesItem">
    <ul >
      <li *ngFor="let course of courses">
        <!-- <a (click)="courseSelect(task.id)">{{task.name}} </a>-->
        <button class="btn newAccount" (click)="selectCourseAndAddTasks(course.id)">Выбрать курс для добавления в него задания - {{course.name}}</button>
      </li>
    </ul>
  </table>

</div>
</body>
